<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background: blue;
      color: white;
      
    }

  </style>
  <title>Document</title>
</head>
<body>
  <h1><b><u>Our Contacts</u></b></h1><br>
  <p><b>Phone Number:</b> +254708964590</p><br>
  <p><b>Email:</b> Josephmbugua968@gmail.com</p><br>
  <p><b>Twitter:</b>@smartshop.com</p><br>
  <br>
  <br>
  <h2><u>Our Policy</u></h2><br>
  <p>Goods Once Sold Cannot Be Returned </p><br>
  <br>
  <p>HAPPY DOING BUSINESS WITH YOU! </p>

</body>
</html>
