{% extends "layout.html" %}


{% block content %}
<a href="{{ url_for('admin_login') }}">
  <image src="{{url_for('static',filename = 'administrator.jpg')}}" width="30px" height="30px">
</a>
    <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word"><b><u>Login as a Customer</u></b></h1>
             </div><br><br><br>
            <h2 class="word">
                <form action="{{ url_for('login') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/><br><br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/><br><br><br>
                    <input type="submit" class="btn" value="Login"><br><br>
                </form>
            </h2>
            <p class="bottom">Dont't have an account?  <a class="bottom" href="{{url_for('register')}}"> <u><b>Register here</b></u></a></p>
          </div>
        </div>
    {% endblock %}
